.title {
  font-size: 50px; /* You can change the size to your desired value */
  font-weight: bold;
}

.box{
  border-radius: 50px;
  background: #f0f0f0;
  box-shadow:  8px 8px 10px #8b8b8b,
              -8px -8px 10px #ffffff;
}

.pages {
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: gray; /* Set the default text color to gray */
  transition: color 0.3s; /* Add a smooth transition effect for the color change */
}

.pages:hover {
  color: rgb(23, 23, 131); /* Change the text color to blue on hover */
}